//Imports
@import "variables";
@import "header";
@import "mainCards";
@import "smallCards";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem 0;
}
