.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .header {
    display: block;
  }
}

.header .logo h1 {
  font-size: 1.5rem;
}

.header .logo p {
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 0.8rem;
  color: #63687e;
}

.header .mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .header .mode {
    margin-top: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid #c1c1c1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header .mode p {
  font-size: 0.8rem;
  margin-right: 1rem;
  color: #aeb3cb;
  font-weight: bold;
}

.header .mode .toggle {
  width: 3.4rem;
  height: 1.6rem;
  background-color: #aeb3cb;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}

.header .mode .toggle .ball {
  height: 1.2rem;
  width: 1.2rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  top: 3px;
  right: 3px;
}

.mainCards {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
}

@media screen and (max-width: 1120px) {
  .mainCards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 570px) {
  .mainCards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.mainCards .card1,
.mainCards .card2,
.mainCards .card3,
.mainCards .card4 {
  background-color: #f0f2fa;
  width: 16rem;
  height: 14rem;
  text-align: center;
}

.mainCards .card1--top,
.mainCards .card2--top,
.mainCards .card3--top,
.mainCards .card4--top {
  height: 0.2rem;
  background-color: #198ff5;
}

.mainCards .card1--title,
.mainCards .card2--title,
.mainCards .card3--title,
.mainCards .card4--title {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #198ff5;
}

.mainCards .card1--title p,
.mainCards .card2--title p,
.mainCards .card3--title p,
.mainCards .card4--title p {
  color: #63687e;
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 0.5rem;
}

.mainCards .card1 h1,
.mainCards .card2 h1,
.mainCards .card3 h1,
.mainCards .card4 h1 {
  margin-top: 1rem;
  font-size: 3.5rem;
}

.mainCards .card1 h3,
.mainCards .card2 h3,
.mainCards .card3 h3,
.mainCards .card4 h3 {
  font-size: 0.7rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  color: #63687e;
}

.mainCards .card1--ticker,
.mainCards .card2--ticker,
.mainCards .card3--ticker,
.mainCards .card4--ticker {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1db489;
}

.mainCards .card1--ticker p,
.mainCards .card2--ticker p,
.mainCards .card3--ticker p,
.mainCards .card4--ticker p {
  font-size: 0.7rem;
  font-weight: bold;
  margin-left: 0.5rem;
}

.mainCards .card2--top {
  background-color: #1ca0f2;
}

.mainCards .card2--title {
  color: #1ca0f2;
}

.mainCards .card3--top {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(to right, #fdc468, #df4996);
}

.mainCards .card3--title {
  color: #df4996;
}

.mainCards .card4--top {
  background-color: #c4032a;
}

.mainCards .card4--title {
  color: #c4032a;
}

.mainCards .card4--ticker {
  color: #dc414c;
}

.smallCards {
  margin-top: 2rem;
}

.smallCards h1 {
  font-size: 1.7rem;
  color: #63687e;
  margin-bottom: 1rem;
}

.smallCards .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
}

@media screen and (max-width: 1120px) {
  .smallCards .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 570px) {
  .smallCards .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.smallCards .cards .card1,
.smallCards .cards .card2,
.smallCards .cards .card3,
.smallCards .cards .card4,
.smallCards .cards .card5,
.smallCards .cards .card6,
.smallCards .cards .card7,
.smallCards .cards .card8 {
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  width: 16rem;
  height: 9rem;
  background-color: #f0f2fa;
}

.smallCards .cards .card1--header,
.smallCards .cards .card2--header,
.smallCards .cards .card3--header,
.smallCards .cards .card4--header,
.smallCards .cards .card5--header,
.smallCards .cards .card6--header,
.smallCards .cards .card7--header,
.smallCards .cards .card8--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #198ff5;
}

.smallCards .cards .card1--header p,
.smallCards .cards .card2--header p,
.smallCards .cards .card3--header p,
.smallCards .cards .card4--header p,
.smallCards .cards .card5--header p,
.smallCards .cards .card6--header p,
.smallCards .cards .card7--header p,
.smallCards .cards .card8--header p {
  color: #63687e;
  font-size: 0.8rem;
  font-weight: 600;
}

.smallCards .cards .card1--footer,
.smallCards .cards .card2--footer,
.smallCards .cards .card3--footer,
.smallCards .cards .card4--footer,
.smallCards .cards .card5--footer,
.smallCards .cards .card6--footer,
.smallCards .cards .card7--footer,
.smallCards .cards .card8--footer {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1db489;
}

.smallCards .cards .card1--footer h1,
.smallCards .cards .card2--footer h1,
.smallCards .cards .card3--footer h1,
.smallCards .cards .card4--footer h1,
.smallCards .cards .card5--footer h1,
.smallCards .cards .card6--footer h1,
.smallCards .cards .card7--footer h1,
.smallCards .cards .card8--footer h1 {
  color: black;
  font-size: 2rem;
}

.smallCards .cards .card1--footer--ticker,
.smallCards .cards .card2--footer--ticker,
.smallCards .cards .card3--footer--ticker,
.smallCards .cards .card4--footer--ticker,
.smallCards .cards .card5--footer--ticker,
.smallCards .cards .card6--footer--ticker,
.smallCards .cards .card7--footer--ticker,
.smallCards .cards .card8--footer--ticker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smallCards .cards .card1--footer--ticker p,
.smallCards .cards .card2--footer--ticker p,
.smallCards .cards .card3--footer--ticker p,
.smallCards .cards .card4--footer--ticker p,
.smallCards .cards .card5--footer--ticker p,
.smallCards .cards .card6--footer--ticker p,
.smallCards .cards .card7--footer--ticker p,
.smallCards .cards .card8--footer--ticker p {
  font-size: 0.7rem;
  font-weight: bold;
  margin-left: 0.2rem;
}

.smallCards .cards .card2--footer {
  color: #dc414c;
}

.smallCards .cards .card3--header,
.smallCards .cards .card4--header {
  color: #df4996;
}

.smallCards .cards .card5--header,
.smallCards .cards .card6--header {
  color: #1ca0f2;
}

.smallCards .cards .card7--header,
.smallCards .cards .card8--header {
  color: #c4032a;
}

.smallCards .cards .card7--footer,
.smallCards .cards .card8--footer {
  color: #dc414c;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}
/*# sourceMappingURL=style.css.map */